.box {
    height: 300px;
    overflow-y: auto;
    text-align: justify;
    /* border:1px solid grey; */
}

.hub-carousel {
    margin-bottom: 200px;
}

.hub-subtitle {
    font-weight: bold;
}

.hub-title {
    margin-top: 50px;
}