*, *::before, *::after{
    box-sizing: border-box;
}
.title--main{
    z-index: 1;
}
#landing--top {
    background-color: rgba(0, 0, 0, .1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landing--top::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 745px;
    background-color: rgba(234, 242, 215,0.25);
}

.parkslist--container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carousel {
    width: 700px;
    height: 550px;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style:none;
}

.carousel--slide > img {
    width: 700px;
    height: 550px;
    object-fit: cover;
    object-position: 25% 25%; 
}

.carousel--slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.carousel--slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel--button{
    background: none;
    position: absolute;
    border: none;
    font-size: 4rem;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel--button:hover,
.carousel--button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel--button:focus{
    outline: 1px solid black;
}

.carousel--button.prev {
    left: 1rem;
}

.carousel--button.next {
    right: 1rem;
}

.fav--carousel {
    width: 750px;
    height: 200px;
    position: relative;
}

.fav--carousel > ul {
    margin: 0;
    padding: 0;
    list-style:none;
}

.fav--carousel--slide > img {
    width: 750px;
    height: 350px;
    object-fit: cover;
    object-position: center; 
}

.fav--carousel--slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.fav--carousel--slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.fav--carousel--button{
    background: none;
    position: absolute;
    border: none;
    font-size: 4rem;
    top: 75%;
    z-index: 2;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.fav--carousel--button:hover,
.fav--carousel--button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.fav--carousel--button:focus{
    outline: 1px solid black;
}

.fav--carousel--button.prev {
    left: 1rem;
}

.fav--carousel--button.next {
    left: 40rem;
}

span::before{
    content: '';
    animation: animate infinite 15s;
}

@keyframes animate{
    0%{
        content: 'The Outdoors';
    }
    20%{
        content: 'Wildlife';
    }
    40%{
        content: 'Amenities';
    }
    60%{
        content: 'Nature';
    }
    80%{
        content: 'Camping';
    }
    100%{
        content: 'National Parks';
    }
}