*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.carousel {
    width: 700px;
    height: 550px;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style:none;
}

.carousel--slide > img {
    width: 700px;
    height: 550px;
    object-fit: cover;
    object-position: 25% 25%; 
}

.carousel--slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.carousel--slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel--button{
    background: none;
    position: absolute;
    border: none;
    font-size: 4rem;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel--button:hover,
.carousel--button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel--button:focus{
    outline: 1px solid black;
}

.carousel--button.prev {
    left: 1rem;
}

.carousel--button.next {
    right: 1rem;
}