.blogs-panel {
    display: flex;
    justify-content: center;
}

.blog-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 10px;
}

.blogs-title {
    display: flex;
    font-size: 40px;
    margin-left: 20px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 30px;
    justify-content: center;
}

body.active-blogModal, body.active-editModal {
    overflow-y: hidden;
}

.btn-blogModal, .btn-editModal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.blogModal, .editModal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.blogModal-content, .editModal-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 1000px;
    min-width: 500px;
}

.close-blogModal, .close-editModal{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.fieldset {
    outline: none;
}

.card-title {
    font-size: 25px;
    margin-top: 5px;
    font-weight: bold;
    
}

.blog-details {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1000px;  
}

.secondRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid lightgray;
    
}

.blogFilterSearch--container {
display: flex;
justify-content: space-between;
margin-top: 20px;
margin-bottom: 20px;
}

.blog-post {
    margin-bottom: 15px;
}

.form__group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.blog-body {
    margin-top: 20px;
    margin-bottom: 20px;
}

.save-blog {
    margin-top: 25px;
    margin-left: 0;
  }
.card-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.blog-text {
    margin-right: 50px;
}