.top_bar {
  display:flex;
  align-items: center;
  background-color: #333;
}

.welcome{
    color: rgb(200, 236, 200);
    margin-left: 25px;
    font-size: 25px;
    width: 10%;
}

.navbar__logo {
   width: 60%;
   margin-left: 25px;
   padding-right: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display:flex;
    justify-content: space-around;
    width: 85%;
  }
  
  
  
  li a {
    display: block;
    color:  rgb(200, 236, 200);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
    color: green;
  }