.top_bar {
  display: flex;
  align-items: center;
  background-color: #333;
  position: sticky;
  top: 0;
  z-index: 3;
}

.welcome {
  color: rgb(200, 236, 200);
  font-size: 20px;
  width: 20%;
}

.navbar__logo {
  width: 7%;
  margin-left: 5%;
  padding: 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: left;
  width: 100%;
}

li a {
  display: block;
  color: rgb(200, 236, 200);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover {
  background-color: #111;
  color: green;
}
